!data/
data/*
!data/processed/
!data/raw/
data/processed/*
!data/processed/UCSDped2_dae.mat
!data/processed/meta_UCSDped2_dae.mat
data/raw/*
!data/raw/UCSDped2_dae.mat

!output/
output/*

get_mc_means.m
np_distribution_vis.m